{% extends 'base.html' %}

{% block conteudo %}
    <h2>Informacoes do Produto:</h2>
    <p>SKU: {{ codig_interno }}</p>
    <p>Barcode: {{ codigo_barras }}</p>
    <p>Descrição: {{ descricao }}</p>
    <p>Complemento: {{ complemento }}</p>

    <form action="/salvar_precos" method="POST">
        <label for="preco_unitario">Preço Unitário (R$):</label>
        <input type="text" id="preco_unitario" name="preco_unitario" value="{{ preco_unitario }}" required autofocus autocomplete="off"><br><br>
        
        <label for="preco_atacado">Preço Atacado (R$):</label>
        <input type="text" id="preco_atacado" name="preco_atacado" value="{{ preco_atacado }}" required autofocus autocomplete="off"><br><br>
        
        <input type="hidden" id="codigo_barras_hidden" name="codigo_barras_hidden" value="{{ codigo_barras }}">
        <input type="hidden" id="descricao" name="descricao" value="{{ descricao }}">
        
        <input type="submit" value="Salvar Preços">
    </form>
{% endblock conteudo %}