{% extends 'base.html' %}
{% block conteudo %}
<body>
    <div class="container">
        <img src="foto_criador.jpg" alt="Foto do Criador">
        <h1>Pedro Nelson</h1>
        <h2>Desenvolvedor Back-end</h2>
        
        <p>Hello World! Eu sou o desenvolvedor responsável pelo back-end desta aplicação web. Abaixo estão algumas informações sobre mim e minhas habilidades.</p>
        
        <h2>Habilidades e Experiência</h2>
        <ul>
            <li>Desenvolvimento de APIs RESTful com Flask (Python)</li>
            <li>Bancos de dados relacionais (SQL) e não-relacionais (MongoDB)</li>
            <li>Segurança e autenticação de usuários</li>
            <li>Otimização de consultas e performance de aplicativos</li>
        </ul>
        
        <h2>Contato</h2>
        <div class="contato">
            <a href="mailto:nelson.rreis@outlook.com">Email</a>
            <a href="https://www.linkedin.com/in/pedro-nelson-5b16a5193/" target="_blank">LinkedIn</a>
            <a href="https://github.com/pedronels0n" target="_blank">GitHub</a>
        </div>
    </div>
</body>
{% endblock conteudo %}